@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {

    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: #e9eead;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 27px;
    padding: 30px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: rgb(145, 194, 243);
    padding: 23px;
    width: 100vw;
    color: #021933;
}

.container {
    display: flex;
    height: 100vh;
}



.Pic img {

    padding-right: 55px;
    height: 62vh;
}

.Hello {
    font-size: 30px;
}

.Name {
    font-size: 38px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.About {
    font-size: 20px;
}

.more {
    margin-top: 20px;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
}

.buttons {
    margin-top: 30px;
}

.btn {
    padding: 8px 13px;
    border-radius: 25px;
    color: #021933;
    background-color: #e5ee81;
    font-weight: bold;
    font-size: 18px;
    margin: 0 3px;
    cursor: pointer;
    border-color: black;
}

.btn-sm {
    font-size: 16px;
    margin: 12px 0;
    padding: 10px 19px;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
    border-color: black;
}

.infoContainer {

    height: 62vh;
    width: 73vw;
    margin: 105px auto;
    display: flex;
    justify-content: space-around;

}

.Info {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    color: #021933;
}

.box1 {

    margin: auto;
    margin-top: 45px;
    background-color: #072a53;
    box-sizing: border-box;
    border-radius: 35px;
    text-align: center;
    border: 3px solid #e5ee81;
    padding: 5px;
    width: 1100px;
    
}

.intro {
    margin: 30px 80px;
}

.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    color: #e5ee81;
}

.intro p {
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 15px;
    color: #dbe736;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box2 {
    display: flex;
    margin-top: 75px;
    background-color: #072a53;
    box-sizing: border-box;
    border-radius: 35px;
    border: 3px solid #e5ee81;
    padding: 15px;
    width: 370px;
}

.skillcontainer {
    font-family: 'Source Code Pro', monospace;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 65px;
    color: #000;
}

li {
    color: #dbe736;
}

h5 {
    margin-bottom: 5px;
    font-family: 'Source Code Pro', monospace;
    font-size: 17px;
    color: #bbb8e0;
    margin-bottom: 20px;
}

.box3 {
    display: flex;
    margin-top: 75px;
    background-color: #072a53;
    box-sizing: border-box;
    border-radius: 35px;
    border: 3px solid #e5ee81;
    padding: 15px;
    
    width: 650px;
}

.projects {
    margin-top: 13px;
    margin-bottom: 15px;
    margin-left: 55px;
}

.projects li {
    font-family: 'Fira Sans', sans-serif;
    
    font-size: 19px;
    color: #dbe736;
}

.projects h5 {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin-left: 25px;
    font-style: italic;
    color: #bbb8e0;
    font-weight: bold;
}

.contactform {
    font-family: 'Fira Sans', sans-serif;
    margin: 30px 80px;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    padding: 5px 0;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    padding: 3px;
    border-radius: 5px;
    width: 23vw;
    margin: 6px 0 0 0;
}

#emailHelp {
    font-size: 10px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 20px;
    margin: 3px 0;
}

.vol{
    text-align: center;
}
.vol h1 {
    font-family: 'Fira Sans', sans-serif;
    color: #042e5e;
    font-size: 35px;
    font-style: bold;
    margin-top: 30px;
}

p {
    font-family: 'Source Code Pro', monospace;
}
.box4
{
    margin: auto;
    margin-top: 20px;
    width: 1100px;
}
.desPanel
{
    display: flex;
}

.design {
    padding: 20px;
    width: 33.3%;
    box-sizing: border-box;
    
}

.desbox
{
    background-color: #072a53;
    box-sizing: border-box;
    border-radius: 35px;
    padding: 25px;
    border: 2px solid #e5ee81;
    height: 120px;
    
}

.desbox h4 {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color: #dbe736;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.desbox h5 {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color: #bbb8e0;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
}

.sidebargo {
    transform: translate(-250px, 0px);
    position: absolute;
}

.hamberger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross {
    margin-left: 180px;
}

@media (max-width: 1365px) {
    .Pic {
        display: none;
    }

    .intro,
    .design,
    .contactform {
        margin: 50px 8px;
    }
}