@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.sidebar {
    background-color: rgb(221, 214, 214);
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    position: absolute;
}

.sidebar nav {
    padding: 45px;
}

.sidebar nav li {
    list-style: none;
    font-size: 27px;
    padding: 30px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: white;
    padding: 23px;
    width: 85vw;
}

.container {
    display: flex;
}

.infoContainer {

    height: 62vh;
    width: 73vw;
    margin: 105px auto;
    display: flex;
    justify-content: space-around;

}

.Info {
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.Pic img {
    padding-right: 55px;
    height: 62vh;
}

.Hello {
    font-size: 30px;
}

.Name {
    font-size: 33px;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
}

.About {

    font-size: 20px;
}

.more {
    margin-top: 20px;
    font-size: 17px;
    font-family: 'Fira Sans', sans-serif;
}

.buttons {
    margin-top: 30px;
}

.btn {
    padding: 8px 13px;
    border-radius: 25px;
    color: white;
    background-color: dodgerblue;
    font-weight: bold;
    font-size: 18px;
    margin: 0 3px;
    cursor: pointer;
    border-color: black;
}

.btn-sm {
    font-size: 16px;
    margin: 12px 0;
    padding: 10px 19px;
}

.btn:hover {
    background-color: white;
    color: dodgerblue;
    border-color: black;
}

.contactform {

    font-family: 'Fira Sans', sans-serif;
    margin: 30px 80px;
}

.contactform h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    padding: 5px 0;
}

.contactform form div {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input {
    padding: 3px;
    border-radius: 5px;
    width: 23vw;
    margin: 6px 0 0 0;
}

#emailHelp {
    font-size: 10px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0;
}

#form-check {
    flex-direction: row;
}

#form-check input {
    width: 20px;
    margin: 3px 0;
}

h1 {
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 20px;
}

p {
    font-family: 'Source Code Pro', monospace;
}

.intro {
    margin: 30px 80px;
}


.intro h2 {
    font-family: 'Fira Sans', sans-serif;
    margin-bottom: 10px;
}

.intro p {
    font-family: 'Source Code Pro', monospace;
    margin-bottom: 20px;
}

.skillcontainer {
    margin-left: 20px;
}

.skillItem {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    color: blue;
    margin-bottom: 15px;
}

.skill {
    width: 30%;
    height: 7px;
    background-color: rgb(216, 207, 207);
    border: 2px solid rgb(44, 43, 43);
}

/* Container for skill bars */
.c {
    width: 90%;
    height: 7px;
    background-color: rgb(52, 85, 82);
}

.py {
    width: 80%;
    height: 7px;
    background-color: rgb(52, 85, 82);
}

.java {
    width: 65%;
    height: 7px;
    background-color: rgb(52, 85, 82);
}

.html {
    width: 60%;
    height: 7px;
    background-color: rgb(52, 85, 82);
}

.css {
    width: 40%;
    height: 7px;
    background-color: rgb(52, 85, 82);
}

.design {
    margin: 30px 80px;
}

.desgn {

    margin-left: 30px;
    margin-bottom: 20px;
}

.desgn li {
    font-family: 'Fira Sans', sans-serif;

    font-size: 19px;
}

.desgn h5 {
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
    color: rgb(10, 10, 240);
    font-weight: bold;
}

.projects {
    margin-top: 15px;
    margin-bottom: 15px;

}

.projects li {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    font-size: 17px;
}

.projects h5 {
    font-family: 'Source Code Pro', monospace;
    font-size: 15px;
    color: rgb(10, 10, 240);
    font-weight: bold;
}

.sidebargo {
    transform: translate(-250px, 0px);
    position: absolute;
}

.hamberger {
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.cross {
    margin-left: 180px;

}

@media (max-width: 1365px) {
    .Pic {
        display: none;
    }

    .intro,
    .design,
    .contactform {
        margin: 50px 8px;
    }
}